<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.stoelzle.alfred.workflows.chrome</string>
	<key>connections</key>
	<dict>
		<key>08D64D40-4EF2-43B4-8DAD-F3D5FDDD9E0E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AFE24103-517F-4AD8-A39A-0307224BD0AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>010371DB-162E-4DCE-A8DA-753019070A88</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>stable</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F10BBC74-0802-49CA-9398-393445B0C41E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>chromium</string>
			</dict>
		</array>
		<key>108E7B9F-EB1B-4FA5-BBCD-9DE0FE37E081</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06915A8E-D974-4700-9805-41C2D210B652</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BDE4A6CC-596E-4489-AAAE-F21EE6693C5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7139B96-2F42-45F4-9C8D-514BCEC6CED5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>@me_stoe</string>
	<key>description</key>
	<string>Open Chrome</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Chrome</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gci</string>
				<key>text</key>
				<string>Google Chrome (Incognito)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>tell application "System Events"
	set myList to (name of every process)
end tell
if (myList contains "Google Chrome") is false then
	do shell script "open -a Google\\ Chrome --new --args -incognito"
else
	tell application "Google Chrome"
		activate
		tell application "System Events" to keystroke "n" using {command down, shift down}
	end tell
end if</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/Applications/Google\ Chrome\ Canary.app/Contents/MacOS/Google\ Chrome\ Canary \
  --user-data-dir=/Users/stefan/code/etc/clean-chrome/.chrome-devtools-canary \
  --enable-experimental-extension-apis \
  --debug-devtools-frontend=/Users/stefan/code/code/etc/clean-chrome/devtools_frontend</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AFE24103-517F-4AD8-A39A-0307224BD0AF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cc</string>
				<key>subtext</key>
				<string>canary</string>
				<key>text</key>
				<string>Google Chrome Clean</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>08D64D40-4EF2-43B4-8DAD-F3D5FDDD9E0E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome \
  --user-data-dir=/Users/stefan/code/etc/clean-chrome/.chrome-devtools-stable \
  --enable-experimental-extension-apis \
  --debug-devtools-frontend=/Users/stefan/code/code/etc/clean-chrome/devtools_frontend</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>010371DB-162E-4DCE-A8DA-753019070A88</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/Applications/Chromium.app/Contents/MacOS/Chromium \
  --user-data-dir=/Users/stefan/code/etc/clean-chrome/.chrome-devtools-chromium \
  --enable-experimental-extension-apis \
  --debug-devtools-frontend=/Users/stefan/code/code/etc/clean-chrome/devtools_frontend</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F10BBC74-0802-49CA-9398-393445B0C41E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome Canary.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>06915A8E-D974-4700-9805-41C2D210B652</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gcc</string>
				<key>text</key>
				<string>Google Chrome Canary</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>108E7B9F-EB1B-4FA5-BBCD-9DE0FE37E081</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>C7139B96-2F42-45F4-9C8D-514BCEC6CED5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gc</string>
				<key>text</key>
				<string>Google Chrome</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BDE4A6CC-596E-4489-AAAE-F21EE6693C5C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Credit goes to Drezha's Launch Chrome Incognito for Alfred 1.x script:
https://github.com/drezha/Alfred.App_Extensions/tree/master/Launch%20Chrome%20Incognito</string>
	<key>uidata</key>
	<dict>
		<key>010371DB-162E-4DCE-A8DA-753019070A88</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>06915A8E-D974-4700-9805-41C2D210B652</key>
		<dict>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>08D64D40-4EF2-43B4-8DAD-F3D5FDDD9E0E</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>108E7B9F-EB1B-4FA5-BBCD-9DE0FE37E081</key>
		<dict>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>AFE24103-517F-4AD8-A39A-0307224BD0AF</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>BDE4A6CC-596E-4489-AAAE-F21EE6693C5C</key>
		<dict>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>C7139B96-2F42-45F4-9C8D-514BCEC6CED5</key>
		<dict>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>F10BBC74-0802-49CA-9398-393445B0C41E</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
