<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.stoelzle.alfred.workflows.startmeup</string>
	<key>connections</key>
	<dict>
		<key>041E65A4-2C37-437E-A198-C020ACAF4239</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF0F6896-329F-45E0-B5BF-18193C77AA3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E984058B-7C01-4572-9C6F-63471E92394C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C82408DF-88D6-4D23-8C3C-A14579F5519A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>36DF0AFB-C455-4746-B6CB-41BFEB5ABE8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF0F6896-329F-45E0-B5BF-18193C77AA3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>51A4F81B-3568-44F0-9984-AAD078B40A3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C82408DF-88D6-4D23-8C3C-A14579F5519A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>76FA03F4-4156-4489-9A82-F7D6ED323F54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF0F6896-329F-45E0-B5BF-18193C77AA3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C82408DF-88D6-4D23-8C3C-A14579F5519A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C82408DF-88D6-4D23-8C3C-A14579F5519A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C389F17-B224-4D06-9732-95010CC9201D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>@me_stoe</string>
	<key>description</key>
	<string>Lazy app loading.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Start Me Up</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
					<string>/Applications/Twitter.app</string>
					<string>/Applications/Sparrow.app</string>
					<string>/Applications/Calendar.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>EF0F6896-329F-45E0-B5BF-18193C77AA3C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>smu</string>
				<key>subtext</key>
				<string>Chrome | iCal, Sparrow | Twitter</string>
				<key>text</key>
				<string>Start Me Up</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>76FA03F4-4156-4489-9A82-F7D6ED323F54</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>smu dev</string>
				<key>subtext</key>
				<string>Chrome | atom.io, iTerm2, tower | iCal, Sparrow | Twitter</string>
				<key>text</key>
				<string>Start Me Up (Development)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>041E65A4-2C37-437E-A198-C020ACAF4239</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iTerm.app</string>
					<string>/Applications/Tower.app</string>
					<string>/Applications/Atom.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>E984058B-7C01-4572-9C6F-63471E92394C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>smu msg</string>
				<key>subtext</key>
				<string>Chrome | iCal, Sparrow | Skype, HipChat, Twitter</string>
				<key>text</key>
				<string>Start Me Up (Messaging)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>36DF0AFB-C455-4746-B6CB-41BFEB5ABE8D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Skype.app</string>
					<string>/Applications/HipChat.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>51A4F81B-3568-44F0-9984-AAD078B40A3C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

	set q to 120		tell application "Caffeine"		try			(q as real) div 1			turn on for (q * 60)
			return "Caffeine started for " &amp; q &amp; " minutes" &amp; "."		on error			turn on
			return "Caffeine started for an indefinite amount of time."		end try	end tell	end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>C82408DF-88D6-4D23-8C3C-A14579F5519A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Caffeine</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9C389F17-B224-4D06-9732-95010CC9201D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>041E65A4-2C37-437E-A198-C020ACAF4239</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>36DF0AFB-C455-4746-B6CB-41BFEB5ABE8D</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>51A4F81B-3568-44F0-9984-AAD078B40A3C</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>76FA03F4-4156-4489-9A82-F7D6ED323F54</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>9C389F17-B224-4D06-9732-95010CC9201D</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>C82408DF-88D6-4D23-8C3C-A14579F5519A</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>E984058B-7C01-4572-9C6F-63471E92394C</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>EF0F6896-329F-45E0-B5BF-18193C77AA3C</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
