<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themes</key>
	<dict>
		<key>alfred.theme.custom.1FDC4233-3AD4-4384-A208-2B558B348120</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg1SpXz+DXV5eP4NM9GA/g2ZmZj+G
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>cornerRoundness</key>
			<integer>3</integer>
			<key>credits</key>
			<string>Lucas</string>
			<key>imageStyle</key>
			<integer>3</integer>
			<key>name</key>
			<string>Yosemite Graphite</string>
			<key>resultPaddingSize</key>
			<integer>1</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg5OSkj6Dj46OPoOfnp4+AYY=
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg6EOaT+DoQ5pP4OhDmk/AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmgxCbcD+DEJtwP4MQm3A/AYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg+HgYD+D2tlZP4Pp6Gg/AIY=
			</data>
			<key>resultSubtextFont</key>
			<string>Helvetica</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmgxBNGz6DKEgYPoOMYC4+g+F6VD+G
			</data>
			<key>resultTextFont</key>
			<string>Helvetica</string>
			<key>resultTextFontSize</key>
			<integer>3</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAg4/CdT2G
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg1uHfj+Dtg59PwEAhg==
			</data>
			<key>searchFont</key>
			<string>Helvetica</string>
			<key>searchFontSize</key>
			<integer>2</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg7dtIz2Dt20jPYO3bSM9g3sUbj+G
			</data>
			<key>searchPaddingSize</key>
			<integer>0</integer>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAIY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg6WkJD+DpaQkP4OlpCQ/g/YoHD+G
			</data>
			<key>shortcutFont</key>
			<string>Helvetica</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+vq6j6D6+rqPoPr6uo+gylcTz+G
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.1FDC4233-3AD4-4384-A208-2B558B348120</string>
			<key>widthSize</key>
			<integer>2</integer>
		</dict>
		<key>alfred.theme.custom.2E703DBB-D360-498E-8FA7-015DB5551190</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAYY=
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmgwAAAD+DAAAAP4MAAAA/g83MzD6G
			</data>
			<key>cornerRoundness</key>
			<integer>0</integer>
			<key>credits</key>
			<string>BXIO</string>
			<key>imageStyle</key>
			<integer>8</integer>
			<key>name</key>
			<string>Dark Large</string>
			<key>resultPaddingSize</key>
			<integer>1</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmgx+Faz6DH4VrPoMfhWs+AYY=
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5qZGT+DmpkZP4OamRk/AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmgzMzcz+DMzNzP4MzM3M/AYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg83MzD6DzczMPoPNzMw+AYY=
			</data>
			<key>resultSubtextFont</key>
			<string>Helvetica Neue</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZoOrqio/AYY=
			</data>
			<key>resultTextFont</key>
			<string>Helvetica Neue</string>
			<key>resultTextFontSize</key>
			<integer>4</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg83MTD6DzcxMPoPNzEw+AYY=
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmgx+Faz6DH4VrPoMfhWs+AYY=
			</data>
			<key>searchFont</key>
			<string>Helvetica Neue</string>
			<key>searchFontSize</key>
			<integer>4</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZgEBhg==
			</data>
			<key>searchPaddingSize</key>
			<integer>3</integer>
			<key>searchSelectionBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2G
			hJaYG3NlbGVjdGVkVGV4dEJhY2tncm91bmRDb2xvcoaEk5UDhAJm
			ZoOrqio/AYaG
			</data>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2G
			hJaYEXNlbGVjdGVkVGV4dENvbG9yhoSTlQOEAmZmAAGGhg==
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg83MTD6DzcxMPoPNzEw+AYY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg0jhuj6DzczMPYO4HgU/AYY=
			</data>
			<key>shortcutFont</key>
			<string>Helvetica Neue</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmgylcDz6DzcxMPYM9Clc+AYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.2E703DBB-D360-498E-8FA7-015DB5551190</string>
			<key>widthSize</key>
			<integer>4</integer>
		</dict>
		<key>alfred.theme.custom.A2F413E8-44DE-43CF-A1BF-726786E4772D</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAQEBAIY=
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAQEBg2ZmZj+G
			</data>
			<key>cornerRoundness</key>
			<integer>2</integer>
			<key>credits</key>
			<string>Lee</string>
			<key>imageStyle</key>
			<integer>7</integer>
			<key>name</key>
			<string>Almost white</string>
			<key>resultPaddingSize</key>
			<integer>1</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAAAAAIY=
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg5qZGT+DmpkZP4OamRk/AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg8nIyD2DycjIPYPJyMg9AYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAQEBAIY=
			</data>
			<key>resultSubtextFont</key>
			<string>Helvetica Neue</string>
			<key>resultSubtextFontSize</key>
			<integer>0</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg7SzMz+DtLMzP4O0szM/AYY=
			</data>
			<key>resultTextFont</key>
			<string>Helvetica Neue Light</string>
			<key>resultTextFontSize</key>
			<integer>3</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAAAAg4/C9TyG
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAAAAAIY=
			</data>
			<key>searchFont</key>
			<string>Helvetica Neue Light</string>
			<key>searchFontSize</key>
			<integer>4</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg8nIyD2DycjIPYPJyMg9AYY=
			</data>
			<key>searchPaddingSize</key>
			<integer>3</integer>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAQEBAYY=
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAAAAAIY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg83MTD+DzcxMP4PNzEw/AIY=
			</data>
			<key>shortcutFont</key>
			<string>Lucida Grande</string>
			<key>shortcutFontSize</key>
			<integer>1</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAQEBAIY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.A2F413E8-44DE-43CF-A1BF-726786E4772D</string>
			<key>widthSize</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
